.product-container{
    display: flex;
    flex-wrap: wrap;
    
    padding: 5rem;

    align-content: space-evenly;
    justify-content: space-evenly;
}
/*CARD*/
#tarjeta-producto{
    z-index: 5;
    margin-top: 1rem;

    height: 360px;
    width: 240px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    
    
    background-color: rgba(26, 21, 34, 0.836);
    border-radius: 14px;
    
    cursor: pointer;
    user-select: none;

    transition: .2s;
}
#tarjeta-producto:hover{
    transform: scale(101%);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}
.prod-img{
    justify-self: flex-start;
    height: 300px;
    width: 240px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    object-fit: cover;
    object-position: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.prod-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}
.obra-nombre{
    justify-self: center;
    align-self: center;
    font-weight: 300;
    font-style: oblique;
    font-size: 1.2rem;
    text-decoration: underline;
    color: white;
}
.obra-autor{
    justify-self: start;
    align-self: center;
    font-size: .9rem;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    color:red;
}
.price{
    align-self: center;
    justify-self: end;
    font-size:1.52rem;
    font-weight: normal;
    color: red;
}
#btn-buy{
    cursor: pointer;
}