
#carrito-container{
    position: relative;
}   

#btn-cart{
    z-index: 10;
    position: absolute;
    right:3rem;
    top: 2.3rem;
    color: white;
}


#carrito-menu{
    z-index: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    height: 100vh;
    background-color: black;
    padding: 2rem;
    overflow-y: scroll;

    transform: translateX(100%);
    transition: .5s;
}

.prodEnCarro{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1rem;
    padding: 5px;
}

.carro-img{
    z-index: 10;
    width: 5rem;
    max-height: 5rem;
    object-fit: fill;
}


/*
g class="carro-img" s
class="carro-titulo">
class="carro-autor">$
class="carro-cantidad
class="carro-precio">

*/