
#carrito-container{
    position: relative;
}   

#btn-carrito{
    z-index: 10;
    position: absolute;
    right:3rem;
    top: 2.3rem;
    color: white;
}


#carrito-menu{
    z-index: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding: 2rem;
    overflow-y: scroll;

    transform: translateX(100%);
    transition: .5s;
}

.prodEnCarro{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1rem;
    padding: 5px;
}

.carro-img{
    z-index: 10;
    width: 5rem;
    max-height: 5rem;
    object-fit: fill;
}

#productos-carrito{
    margin-top: 10rem;
    margin-left: 25px;
}

.producto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    font-family: 'Poppins';
    font-size: 2rem;
}

.producto > div {
    margin: 0 1rem;
}

.cart-img{
    height: 80px;
    width: 80px;
    margin: 5px 15px;
}

.cart-nombre{
    padding: 5px;
    background-color: white;
    color: black
}



/* 
<img class="cart-img"
<div class="cart-nombre
<div class="cart-precio
<div class="cart-cantidad                           
`sad 
*/