#preview-producto{
    position: fixed;
    user-select: none;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    background-image: url("https://media4.giphy.com/media/DIouyQ9xdybpAmRUVI/giphy.gif?cid=ecf05e47kszfise708hd37fnoc1umgoujg6l6wwgipzcih55&rid=giphy.gif&ct=g");
    background-size: cover;
    min-height: 300px;
    min-width: 500px;
    top: 20%;
    border-radius: 15px;
    padding: 2rem;
}
.btn-close-prevProduct{
    position: absolute;
    cursor: pointer;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    right: 0;
    letter-spacing: -1px;
    margin-right: 10px;
    padding: 10px;
    margin-top: -2rem;
}
#producto{
    margin-top: 1rem;
    height: 100%;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    color: white;
    border-radius: 15px;
}
.product-img-container{
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px;
    border: 3px outset rgb(94, 26, 94);
}
.product-img{
    max-width: 300px;
    max-height: 376px;
}
.product-info{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}
.product-name{
    font-size: 2.5rem;
}
.product-author{
    font-style: italic;
}
.product-price{
    align-self: start;
    margin-top: 1rem;
    color: red;
}

#btnComprar{
    font-size: 2rem;
    color: black;
    font-family: 'Poppins';
    width: 100%;
    padding: 5px;
    background-color: #cabec5;
    text-align: center;
    margin-top: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}